.nav{
    background: black;;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.item{
    color: white;
    font-weight: bold;
    padding: 10px;
}
.item a{
    text-decoration: none;
    color: white;
}

.item a:visited{    
    color: whitesmoke;
}

.item a:hover{
    background: grey;
    cursor: pointer;
}

.item a:focus{
    background-color: white;
}