
<h1> About</h1>
<div class="para">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dicta adipisci doloremque, aspernatur, molestias totam, error voluptatem omnis laborum minima nemo. Nemo, tempore expedita maxime quos, quam at, corrupti vero optio necessitatibus incidunt labore veritatis velit quia ab mollitia. Iste?
    </p>
</div>

<div class="para">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eveniet iste nobis possimus doloremque earum odit et facilis voluptatibus, ut labore. Quod quae molestiae consectetur delectus quo, nulla rerum numquam.
    </p>
</div>

<div class="para">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aliquam quidem libero soluta! Accusantium dolorem atque nostrum quibusdam perspiciatis tempore beatae ex ea, iusto blanditiis neque nisi molestias quasi quaerat, nihil alias odio qui maiores voluptatum voluptate saepe quos labore!
    </p>
</div>
